<html>
  <head>
    <title>Productos</title>
  </head>
  <body>
    <h1>Productos</h1>
    <table>
      <tr>
        <th>Nombre</th>
        <th> </th>
        <th>Precio</th>
      </tr>
      <% productos.forEach(producto => { %>
        <tr>
          <td><%= producto.nombre %></td>
          <td> </td>
          <td><%= producto.precio %></td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
